
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Wecome to 3341B, scrubm80s!</title>
    <meta content="The dankest group of apartm8s you done seen this side of reddit." name="description" />
    <meta content="dank, memes" name="keywords" />
    <link href="/static/css/styles.css" media="all" rel="stylesheet" />
</head>

<body>
    {% include "navbar.html" %}

	<div class="parallax parallax-small">
	    <div class="over-gradient"></div>
	    <div class="container">
	         <div class="row">
	            <div class="col-md-8">
	                <h1 class="hello" style="background-color: rgba(0,0,0,0.2);">
	                   <a href="/">You see, here at 3341B,</a>
	                    <small>{{ info.greeting|random }}</small>
	                </h1>
	            </div>
	            <div class="col-md-4">
	                <div class="actions text-center">
	                     <a class="btn btn-lg btn-fill btn-warning" href="#gents">Le Gents</a>
	                     <a class="btn btn-lg btn-fill btn-success" href="#others">Le Other Stuff</a>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

    <div class="main">

        <div id="gents" class="page-title">
            <div class="container">
                <h1 class="title">Meet Le Gentlemen of 3341B</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% for resident in info.residents %}
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="card">
                            <div class="thumbnail">
                                <img alt="thumbnail" src="{{ resident.thumbnail_url }}" />
                                <a href="{{ resident.about_page_url }}">
                                    <div class="thumb-cover"></div>
                                </a>
                            </div>
                            <div class="card-info">
                                <div class="moving">
                                    <a href="#">
                                        <h3>{{ resident.first_name }} {{ resident.last_name }}</h3>
                                        <p {% if resident.custom_description_font_size %}style="font-size: {{ resident.custom_description_font_size }};"{% endif %}>{{ resident.description }}</p>
                                    </a>
                                    <b class="actions">
                                        {% for link in resident.links %}
                                            <a class="blue-text" href="{{ link.url }}" {% if link.target %}target="{{ link.target }}"{% endif %}>{{ link.text }}</a>
                                            {% if not loop.last %}
                                                <b class="separator">|</b>
                                            {% endif %}
                                        {% endfor %}
                                    </b>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="others" class="page-title">
            <div class="container">
                <h1 class="title">Le Other Stuff</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% for card in info.cards %}
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="card">
                            <div class="thumbnail">
                                <img alt="thumbnail" src="{{ card.thumbnail_url }}" />
                                <a href="{{ card.links[0].url }}">
                                    <div class="thumb-cover"></div>
                                </a>
                                <div class="details">
                                    <div class="numbers">
                                        <b class="comments-icon"><i class="fa fa-comment"></i> {{ card.count }}</b>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="card-info">
                                <div class="moving">
                                    <a href="/product/bootstrap-wizard">
                                        <h3>{{ card.name }}</h3>
                                        <p>{{ card.description }}</p>
                                    </a>
                                    <b class="actions">
                                        {% for link in card.links %}
                                            <a class="blue-text" href="{{ link.url }}" {% if link.target %}target="{{ link.target }}"{% endif %}>{{ link.text }}</a>
                                            {% if not loop.last %}
                                                <b class="separator">|</b>
                                            {% endif %}
                                        {% endfor %}
                                    </b>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!--
        <div class="section section-gallery" id="galleryParallax">
            <div class="parallax-background">
                <img alt="Gallery" src="" alt="Dank memes yo" />
            </div>
            <div class="info">
                <h1>What people build with our tools is awesome!</h1>
                <p>We've created a gallery where you can find inspiration for your projects.</p>
                <a href="http://www.creative-tim.com/gallery/get-shit-done-pro" class="btn btn-neutral btn-fill btn-lg">View Gallery</a>
            </div>
        </div>

        <div class="section section-blog section-white">
            <div class="page-title">
                <div class="container">
                    <h1 class="title">Latest Blog Posts</h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-blog card-plain">
                            <div class="image" style="background-image: url('http://blog.creative-tim.com/wp-content/uploads/2015/04/5_common_mis-730x410.jpg'); background-size: cover; background-position: 50% 50%;">
                                <a href="http://blog.creative-tim.com/web-development/top-5-common-mistakes-using-google-analytics/">
                                    <div class="filter filter-white">
                                        <button class="btn btn-neutral btn-simple">
                                            <i class="fa fa-align-left"></i> Read Article
                                        </button>
                                    </div>
                                </a>
                            </div>
                            <div class="content">
                                <p class="category">Web Development</p>
                                <a class="card-link" href="http://blog.creative-tim.com/web-development/top-5-common-mistakes-using-google-analytics/">
                                    <h4 class="title">Top 5 most common mistakes when using Google Analytics</h4>
                                    <p>Nobody wants to, and above all, nobody likes making mistakes, especially those ones that directly affect the business. Errors ...</p>
                                </a>
                                <div class="footer">
                                    <div class="author">
                                        <a class="card-link" href="http://twitter.com/dawidadach">
                                            <img alt="Thumb" class="avatar" src="http://s3.amazonaws.com/creativetim_bucket/photos/24281/thumb.jpg?1428385023" />
                                            <span>Dawid </span>
                                        </a>
                                    </div>
                                    <div class="stats pull-right">
                                        <i class="fa fa-clock-o"></i> 7 min read
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card card-blog card-plain">
                            <div class="image" style="background-image: url('http://blog.creative-tim.com/wp-content/uploads/2015/03/5-outstanding-and-usefull-tools-for-your-website-730x410.jpg'); background-size: cover; background-position: 50% 50%;">
                                <a href="http://blog.creative-tim.com/web-design/5-outstanding-useful-tools-website/">
                                    <div class="filter filter-white">
                                        <button class="btn btn-neutral btn-simple">
                                            <i class="fa fa-align-left"></i> Read Article
                                        </button>
                                    </div>
                                </a>
                            </div>
                            <div class="content">
                                <p class="category">Web Design</p>
                                <a class="card-link" href="http://blog.creative-tim.com/web-design/5-outstanding-useful-tools-website/">
                                    <h4 class="title">5 Outstanding and Useful Tools for Your Website</h4>
                                    <p>To remain competitive in the digital field, it’s essential that website designers and developers keep a close eye on changes, updates and new techniques.</p>
                                </a>
                                <div class="footer">
                                    <div class="author">
                                        <a class="card-link" href="http://twitter.com/dawidadach">
                                            <img alt="Thumb" class="avatar" src="http://s3.amazonaws.com/creativetim_bucket/photos/24281/thumb.jpg?1428385023" />
                                            <span>Dawid </span>
                                        </a>
                                    </div>
                                    <div class="stats pull-right">
                                        <i class="fa fa-clock-o"></i> 4 min read
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card card-blog card-plain">
                            <div class="image" style="background-image: url('http://blog.creative-tim.com/wp-content/uploads/2015/03/Rotating-Cards-730x410.jpg'); background-size: cover; background-position: 50% 50%;">
                                <a href="http://blog.creative-tim.com/web-design/how-to-add-rotating-css-card-to-your-webpage/">
                                    <div class="filter filter-white">
                                        <button class="btn btn-neutral btn-simple">
                                            <i class="fa fa-align-left"></i> Read Article
                                        </button>
                                    </div>
                                </a>
                            </div>
                            <div class="content">
                                <p class="category">Tutorials</p>
                                <a class="card-link" href="http://blog.creative-tim.com/web-design/how-to-add-rotating-css-card-to-your-webpage/">
                                    <h4 class="title">How to Add the Rotating CSS Card to Your Webpage </h4>
                                    <p>The tutorial below will explain to you step by step how to implement Rotating CSS Card in your webpage. You can get the freebie ...</p>
                                </a>
                                <div class="footer">
                                    <div class="author">
                                        <a class="card-link" href="http://twitter.com/dawidadach">
                                            <img alt="Thumb" class="avatar" src="http://s3.amazonaws.com/creativetim_bucket/photos/24281/thumb.jpg?1428385023" />
                                            <span>Dawid </span>
                                        </a>
                                    </div>
                                    <div class="stats pull-right">
                                        <i class="fa fa-clock-o"></i> 6 min read
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        -->


    </div>



    <!--<div class="footer-title ">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h1 class="title">We are social: </h1>
                </div>
                <div class="col-md-2">
                    <a href="https://dribbble.com/creativetim" class="social dribbble" rel="publisher"><i class="fa fa-dribbble"></i> Dribbble</a>
                </div>
                <div class="col-md-2">
                    <a href="https://www.facebook.com/CreativeTim" class="social facebook"><i class="fa fa-facebook-square"></i> Facebook</a>

                </div>
                <div class="col-md-2">
                    <a href="https://twitter.com/CreativeTim" class="social twitter"><i class="fa fa-twitter"></i> Twitter</a>
                </div>
                <div class="col-md-2">
                    <a href="https://plus.google.com/+CreativetimPage" class="social google"><i class="fa fa-google-plus-square"></i> Google+</a>
                </div>
            </div>
        </div>
    </div>-->

    {% include "footer.html" %}

    <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-account">
            <div class="modal-content">
                <form accept-charset="UTF-8" action="/give_feedback" data-remote="true" enctype="multipart/form-data" method="post">
                    <div style="margin:0;padding:0;display:inline">
                        <input name="utf8" type="hidden" value="&#x2713;" />
                    </div>
                    <div class="modal-body">
                        <textarea class="form-control" id="text_content" name="text[content]" placeholder="Leave a comment for other creative minds..." rows="7">
                        </textarea>
                        <input class="btn btn-block btn-info btn-fill" name="commit" type="submit" value="Give feedback" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="requestInvitationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-account">
            <div class="modal-content">
                <form accept-charset="UTF-8" action="/request_invitation" data-remote="true" enctype="multipart/form-data" method="post">
                    <div style="margin:0;padding:0;display:inline">
                        <input name="utf8" type="hidden" value="&#x2713;" />
                    </div>

                    <div class="modal-body">

                        <textarea class="form-control" id="text_content" name="text[content]" placeholder="Show us your portfolio and we will come back with an invitation as soon as possible." rows="7">
                        </textarea>
                        <input class="btn btn-block btn-info btn-fill" name="commit" type="submit" value="Request Invitation" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script style="text/javascript" src="/static/js/scripts.js"></script>
    <script style="text/javascript" src="/static/js/moarscripts.js"></script>
</body>


</html>